<div class="features">
    <div><a href="/">Tìm kiếm thông tin</a></div>
    <!--<div><a href="/Stats">Thống kê</a></div>
    <div><a href="/Logs">Lịch sử</a></div>
    <div><a href="/Count">Cào dữ liệu (local)</a></div>-->
</div>