<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Car License</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        *{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        *, body{
            font-family: 'Noto Sans', sans-serif;
            font-size: 16px;
        }
        .container{
            text-align: center;
        }
        .button{
            padding: 10px 30px;
            background: #3cbd99;
            border-radius: 5px;
            font-weight: 600;
            color: #fff;
            text-decoration: none;
            margin: 20px 0;
            display: inline-block;
        }
        .block{
            margin: 10px 0;
        }
        .input{
            padding: 10px 10px;
            font-size: 40px;
            width: 100%;
        }
        #buttonLogin{
            width: 100%;
        }
        .response-text{
            font-weight: 700;
        }
    </style>
    <%- include('modules/features-header'); %>
    <script>
    </script>
</head>

<body>

    <h3>Nhập mật khẩu</h3>
    <div class="response-text" id="response-text"></div>
    <div class="block-input">
        <div><input type="password" maxlength="4" class="input" id="authInput"></div>
    </div>
    <div class="block-input">
        <button class="button" id="buttonLogin">Verify</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        document.querySelector('#buttonLogin').addEventListener('click', function(){
            document.querySelector('#response-text').textContent = '';
            var authInput = document.querySelector('#authInput');
            if(authInput.value.length){
                axios({
                    method: 'post',
                    url: '/Auth',
                    data:{
                        input: authInput.value
                    }
                })
                .then(function (response) {
                    if(response.data.status){
                        location.reload();
                    }
                    else{
                        document.querySelector('#response-text').textContent = response.data.message
                    }
                });
            }
            else{
                document.querySelector('#response-text').textContent = 'Hãy nhập mật khẩu';
            }
        })
    </script>

    <%- include('modules/features'); %>

</body>

</html>